<ejs-treegrid #grid 
    [dataSource]="data"
    [treeColumnIndex]="1"
    [enableVirtualization]="true"
    childMapping="children"
    rowHeight="50"
    height="100%">
    <e-columns>
        <e-column width="60" field="id"></e-column>
        <e-column width="100" field="title"></e-column>
        <e-column width="300" *ngFor="let col of numCols" headerText="custom">
            <ng-template #template let-data>
                <ng-container *ngTemplateOutlet="custom"></ng-container>
            </ng-template>
        </e-column>
    </e-columns>
</ejs-treegrid>

<ng-template #custom>
    <mat-chip-list>
        <mat-chip *ngFor="let chip of numChips">
            Chip
        </mat-chip>
    </mat-chip-list>
</ng-template>
